{% extends "sns/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'sns/css/user.css' %}">


{% endblock %}


{% block main %}
<h2>ユーザー情報</h2>

<div class="row">
    <div class="col">
        {% if user.icon %}
        <img src="{{ user.icon.url }}" alt="設定された画像">
        {% else %}
        <div>画像なし</div>
        {% endif %}
    </div>
    <div class="col">
        <div>{{ user.nickname }}</div>
        <div>{{ user.description }}</div>
    </div>
</div>


<h2>このユーザーとダイレクトメッセージを始める</h2>

<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="ダイレクトメッセージを始める">
</form>

{# 前回のコードはコメントアウト #}
{% comment %}
<h2>ダイレクトメッセージ</h2>

<form action="" method="POST">
    {% csrf_token %}
    <textarea class="form-control" name="content"></textarea>
    <input class="form-control" type="submit" value="送信">
</form>

{% for user_message in user_messages %}
<div>
    <div>From:{{ user_message.from_user }}</div>
    <div>{{ user_message.dt }}</div>
    <div>{{ user_message.content }}</div>
</div>
{% endfor %}
{% endcomment %}

{% endblock %}
